<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.on.clipboard</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Paste into active workspace</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Copy to Canvas</string>
			<key>UIApplicationShortcutItemType</key>
			<string>au.com.ironbyte.clipcanvas.app.copyToCanvas</string>
		</dict>
	</array>
</dict>
</plist>
